.finder {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
}

.finderButton{
  border: 2px solid mediumpurple;
  height: 40px;
  color: white;
  text-decoration: none;
  background: #2d2d2d;
}
